<h2>Purpose</h2>
<p>
    This application was built out of the simple frustration that <strong>it's often too hard to find discussion lists on a certain topic</strong>.
    You can't really search properly for them in Microsoft Outlook and you have to scroll through endless pages of people and groups
    to finally (hopefully) find the one you might need. Alternatively, you can go looking up group memberships for people you know
    are interested in that topic as well and cross-reference them, or you just send your question to a random group and hope you get
    redirected to the right place...
</p>
<p>
    In the spirit of the <em><strong>growth mindset</strong></em> &mdash; and because all the necessary components are available through the magic of
    the <a href="https://www.azure.com/">cloud</a> anyway &mdash; we set out to provide a simple but effective solution.
</p>
<p>
    With this application, you can <strong>perform a <i>real</i> search across all mail-enabled groups in your Azure Active Directory tenant</strong>.
    You can search not only based on name and description and other relevant group properties, but you can also add your own
    <strong>annotations</strong> (like tags and notes) to boost search results. This way, we can all help each other find the most relevant
    groups to participate in.
</p>
<p>
    We also wanted to make it easier to discover relevant groups, e.g. based on shared membership of certain people or groups.
    Another feature is that you can get recommendations for groups that might be interesting for you to join, based on the groups your
    <i>peers</i> are member of but <i>you</i> are not. And then a few other little things like looking up shared group memberships
    (e.g. to cross-reference a few people in a team and you want to see which groups they have in common), or just browsing a user's
    group memberships.
</p>
<p>
    Note that this is a <i>responsive</i> site which means <strong>you can also easily use it from your tablet or phone</strong>.
    If you feel a strong need for other ways of consuming the functionality (a phone app? a bot? an Office Add-in?) let us know :-)
</p>

<h2>Feedback &amp; Contributions</h2>
<p>
    The code is all <a href="https://github.com/jelledruyts/AadGroupFinder">open source</a> &mdash; we welcome any
    <a href="https://github.com/jelledruyts/AadGroupFinder/issues">issue reports and suggestions</a>, but also
    <a href="https://github.com/jelledruyts/AadGroupFinder/pulls">contributions</a>!
</p>

<h2>How It Works</h2>
<p>
    Using the <a href="https://azure.microsoft.com/documentation/articles/active-directory-graph-api/">Azure AD Graph API</a>,
    a <a href="https://azure.microsoft.com/documentation/articles/web-sites-create-web-jobs/">WebJob</a>
    hosted in an <a href="https://azure.microsoft.com/services/app-service/web/">Azure Web App</a>
    processes <a href="https://msdn.microsoft.com/Library/Azure/Ad/Graph/howto/azure-ad-graph-api-differential-query">differential queries</a>
    to synchronize the mail-enabled groups into an <a href="https://azure.microsoft.com/services/search/">Azure Search</a> index.
    The community annotations are also stored in the Azure Search index (so there's no need for a separate database).
    The WebJob's processing status is persisted in <a href="https://azure.microsoft.com/documentation/services/storage/">Azure Blob Storage</a>
    so it is resilient to failure and can pick up where it left off at any time.
</p>
<p>
    An <a href="http://www.asp.net/core">ASP.NET Core</a> Web API (secured with <a href="http://oauth.net/2/">OAuth 2.0</a> bearer tokens) uses
    the Azure AD Graph API and the Azure Search index to expose the core functionality to its client applications.
</p>
<p>
    The web application you are using right now is an <a href="https://angularjs.org/">AngularJS</a> based Single-Page Application
    written in <a href="https://www.typescriptlang.org/">TypeScript</a> that signs you in to the corporate directory using
    <a href="https://github.com/AzureAD/azure-activedirectory-library-for-js">ADAL JS</a> and talks to the Web API which finally allows you
    to (hopefully) quickly and easily find what you are looking for...
</p>

<div class="ng-cloak" ng-show="status !== null">
    <h2>Service Status</h2>
    <p ng-show="status.lastGroupSyncCompletedTime !== null">The last complete synchronization finished <strong>{{status.lastGroupSyncCompletedTime | date:'medium'}}</strong>.</p>
    <p ng-show="status.groupCount !== null">There are currently <strong>{{status.groupCount | number}}</strong> groups in the search index.</p>
</div>
