<h2>Purpose</h2>
<p>
    This application was built out of the simple frustration that it's often too hard to find discussion lists on a certain topic.
</p>
<p>
    In the spirit of the <em>growth mindset</em> &mdash; and because all the necessary components are available in the magic of
    the <a href="https://www.azure.com/">cloud</a> &mdash; we set out to provide a simple but effective solution.
</p>
<p>
    With this application, you can search for groups not only based on name and description, but also on community-provided
    annotations (notes and tags). This way, we can all help each other find the most relevant groups to participate in.
</p>
<p>
    We also wanted to make it easier to discover relevant groups, e.g. based on shared membership of certain people or groups.
</p>

<h2>How It Works</h2>
<p>
    Using the <a href="https://azure.microsoft.com/documentation/articles/active-directory-graph-api/">Azure AD Graph API</a>,
    a <a href="https://azure.microsoft.com/documentation/articles/web-sites-create-web-jobs/">WebJob</a>
    hosted in an <a href="https://azure.microsoft.com/services/app-service/web/">Azure Web App</a>
    processes <a href="https://msdn.microsoft.com/Library/Azure/Ad/Graph/howto/azure-ad-graph-api-differential-query">differential queries</a>
    to synchronize the mail-enabled groups into an <a href="https://azure.microsoft.com/services/search/">Azure Search</a> index.
    The community annotations are also stored in the Azure Search index (so there's no need for a separate database).
    The WebJob's processing status is persisted in <a href="https://azure.microsoft.com/documentation/services/storage/">Azure Blob Storage</a>.
</p>
<p>
    An <a href="http://www.asp.net/core">ASP.NET Core</a> Web API (hosted in the same Azure Web App as the WebJob
    and protected with <a href="http://oauth.net/2/">OAuth 2.0</a> bearer tokens) uses the Azure AD Graph API and the
    Azure Search index to expose the core functionality to its client applications.
</p>
<p>
    The web application you are using right now is an <a href="https://angularjs.org/">AngularJS</a> based Single-Page Application
    written in <a href="https://www.typescriptlang.org/">TypeScript</a> that signs you in to the corporate directory using
    <a href="https://github.com/AzureAD/azure-activedirectory-library-for-js">ADAL JS</a> and allows you to (hopefully)
    quickly and easily find what you are looking for...
</p>
<p>
    The code is all <a href="https://github.com/jelledruyts/AadGroupFinder">open source</a> &mdash; we welcome any
    <a href="https://github.com/jelledruyts/AadGroupFinder/pulls">contributions</a> or
    <a href="https://github.com/jelledruyts/AadGroupFinder/issues">issue reports</a>!
</p>

<div class="ng-cloak" ng-show="status !== null">
    <h2>Service Status</h2>
    <p ng-show="status.lastGroupSyncCompletedTime !== null">The last complete synchronization finished <strong>{{status.lastGroupSyncCompletedTime | date:'medium'}}</strong>.</p>
    <p ng-show="status.groupCount !== null">We currently have <strong>{{status.groupCount | number}}</strong> groups in our search index.</p>
</div>
