<h2>Recommend Groups</h2>
<blockquote>Want to get group recommendations that could be relevant for you to join?</blockquote>
<form>
    <label for="userPrincipalName">Enter a user principal name (e.g. alias@example.org) or search for it by name:</label>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-keyboard-o" aria-hidden="true" ng-hide="isAutocompleteBusy || (autocompleteError !== null && autocompleteError.length > 0)"></i>
            <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="isAutocompleteBusy"></i>
            <i class="fa fa-exclamation-circle text-danger" aria-hidden="true" title="{{autocompleteError}}" ng-show="autocompleteError !== null && autocompleteError.length > 0"></i>
        </span>
        <input type="text" id="userPrincipalName" class="form-control" placeholder="Enter a user principal name (e.g. alias@example.org)..." ng-init="initializeAutocomplete('userPrincipalName')" ng-model="userPrincipalName" ng-keyup="$event.keyCode === 13 && getRecommendedGroups()">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="getRecommendedGroups()"><i class="fa fa-search" aria-hidden="true"></i> Get Recommended Groups</button>
        </span>
    </div>
    <div class="margin-top-lg" ng-show="recommendedGroups !== null">
        <div class="alert alert-warning" ng-show="recommendedGroups.length === 0">
            Sorry, we couldn't find any recommendations for you at this time. Please try again later.
        </div>
        <div ng-show="recommendedGroups.length > 0">
            <h4>Found {{recommendedGroups.length}} recommended {{recommendedGroups.length === 1 ? 'group' : 'groups'}}</h4>
            <ol class="list-unstyled group-panel-list">
                <li class="group-panel-item" ng-repeat="recommendedGroup in recommendedGroups">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title group-name">{{recommendedGroup.group.displayName}} ({{recommendedGroup.score | percentage:0}} score)</h3>
                            <div class="group-actions">
                                <a ng-href="mailto:{{recommendedGroup.group.mail}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{recommendedGroup.group.mail}}</a>
                                <a href="" class="margin-left-lg" ng-click="joinGroup(recommendedGroup.group)" ng-show="canJoinGroup(recommendedGroup.group)"><i class="fa fa-sign-in" aria-hidden="true"></i> Join Group</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-top-md group-description" ng-show="recommendedGroup.group.description.length > 0">
                                {{recommendedGroup.group.description}}
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</form>