body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.body-content {
}

.margin-left-md {
    margin-top: 5px;
}

.margin-bottom-md {
    margin-bottom: 5px;
}

.margin-top-md {
    margin-top: 5px;
}

.tag-list > li {
    padding-right: 0;
}