/*
    Adding the ng-cloak rules in the CSS file directly since we are not loading Angular.js in the head element.
    https://docs.angularjs.org/api/ng/directive/ngCloak
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Fix for text in the navbar not being padded in collapsed view */
.nav > li > p {
    padding-left: 15px;
    padding-right: 15px;
}

/* Add support for a subtitle in the navbar brand */
.navbar-brand {
    line-height: 12px;
    padding-top: 15px;
    padding-bottom: 5px;
}

    .navbar-brand small {
        display: block;
        font-size: 10px;
    }

.header-busy-icon {
    font-size: 65%;
    vertical-align: top;
}

/* Keep the body content from disappearing behind the navbar */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Helper classes */
.margin-left-md {
    margin-left: 5px;
}

.margin-left-lg {
    margin-left: 10px;
}

.margin-right-md {
    margin-right: 5px;
}

.margin-bottom-md {
    margin-bottom: 5px;
}

.margin-top-md {
    margin-top: 5px;
}

.margin-top-lg {
    margin-top: 25px;
}

/* Tags */
.tag-item {
    padding-right: 0 !important;
}

.tag {
    text-transform: lowercase;
}

/* Groups */
.group-panel-item {
    margin-bottom: 25px;
}

.group-panel-list {
}

.group-notes {
    font-style: italic;
}

.group-actions {
    font-size: smaller;
}
