<h2>Find Groups</h2>
<blockquote>Having trouble finding a good discussion list on a certain topic? Perform a <em>real</em> search for the right email group here!</blockquote>
<form>
    <div class="input-group margin-bottom-md">
        <input type="search" class="form-control" placeholder="Enter your search text..." ng-model="searchText" ng-keyup="$event.keyCode === 13 && findGroups()">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="findGroups()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </span>
    </div>
    <nav aria-label="Page navigation" ng-show="canPageBackward || canPageForward">
        <ul class="pagination">
            <li ng-class="{disabled: !canPageBackward}">
                <a aria-label="Previous" ng-click="pageBackward()" title="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="disabled"><a class="text-small">Page {{pageIndex + 1}}</a></li>
            <li ng-class="{disabled: !canPageForward}">
                <a aria-label="Next" ng-click="pageForward()" title="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
    <div class="margin-top-md" ng-show="groups !== null">
        <div class="alert alert-warning" ng-show="groups.length === 0">
            Nothing found :-(
        </div>
        <div ng-show="groups.length > 0">
            <ol class="list-unstyled group-panel-list">
                <li class="group-panel-item" ng-repeat="group in groups">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title group-name">{{group.displayName}}</h3>
                            <div class="group-mail"><a ng-href="mailto:{{group.mail}}"><i class="fa fa-envelope" aria-hidden="true"></i> {{group.mail}}</a></div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-top-md group-description" ng-show="group.description.length > 0">
                                {{group.description}}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div>
                                <strong title="Annotations help the community find this group - please contribute!">Community Annotations</strong>
                                <a href="" data-toggle="modal" data-target="#group-editor-dialog" ng-click="editGroup(group)"><i class="fa fa-pencil" title="Edit" aria-hidden="true"></i></a>
                            </div>
                            <div class="margin-top-md text-muted group-notes" ng-show="group.notes.length > 0">
                                {{group.notes}}
                            </div>
                            <ul class="list-inline list-unstyled tag-list" ng-show="group.tags.length > 0">
                                <li class="tag-item" ng-repeat="tag in group.tags">
                                    <span class="label label-primary tag" title="{{tag}}">{{tag}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="modal fade" id="group-editor-dialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{{groupInEdit.group.displayName}}</h3>
                </div>
                <div class="modal-body">
                    <p class="lead">Enter annotations to help the community find this group.</p>

                    <h4>Notes</h4>
                    <textarea class="form-control" rows="5" placeholder="Enter any notes..." ng-model="groupInEdit.notes" />

                    <h4 class="margin-top-lg">Tags</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter a tag..." ng-model="groupInEdit.tagToAdd" ng-keyup="$event.keyCode === 13 && groupInEdit.addTag()">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="groupInEdit.addTag()">Add</button>
                        </span>
                    </div>
                    <ul class="list-inline list-unstyled tag-list margin-top-md">
                        <li class="tag-item" ng-repeat="tag in groupInEdit.tags">
                            <span class="label label-primary tag" title="{{tag}}">{{tag}}</span>
                            <a href="" title="Remove tag" class="margin-right-md" ng-click="groupInEdit.removeTag(tag)"><i class="fa fa-times text-danger"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <strong ng-show="groupInEdit.isBusy"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></strong>
                    <strong ng-show="groupInEdit.message !== null" ng-class="groupInEdit.messageClass">{{groupInEdit.message}}</strong>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveGroupInEdit()" ng-disabled="groupInEdit.isBusy">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>