<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!-- Azure AD -->
    <add key="AadTenant" value="[todo]" />
    <add key="AadClientId" value="[todo]" />
    <add key="AadClientRedirectUri" value="[todo - if using authorization code]" />
    <add key="AadClientSecret" value="[todo - if using client credentials]" />

    <!-- Azure Search -->
    <add key="AzureSearchService" value="[todo]" />
    <add key="AzureSearchIndex" value="[todo]" />
    <add key="AzureSearchAdminKey" value="[todo]" />

    <!-- Azure Storage -->
    <add key="AzureStorageAccount" value="[todo]" />
    <add key="AzureStorageContainer" value="[todo]" />
    <add key="AzureStorageKey" value="[todo]" />

  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="default" type="System.Diagnostics.TextWriterTraceListener" initializeData="GroupFinder.ConsoleClient.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>