<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Azure AD - Microsoft - Public Client -->
    <add key="AadTenant" value="microsoft.com" />
    <add key="AadClientId" value="077201de-fd8f-4b7e-a93a-a5e6e172a36d" />
    <add key="AadClientRedirectUri" value="http://localhost" />
    <!-- Azure AD - Microsoft - Confidential Client -->
    <!--<add key="AadTenant" value="microsoft.com" />
    <add key="AadClientId" value="7f7dda84-172d-4fb5-a4cb-5332fc8ec9c4" />
    <add key="AadClientSecret" value="KVByb0+dxWcn6upShApf4GDSIx+yj6oVKoHFSL88enQ=" />-->
    <!-- Azure AD - IdentitySamples - Confidential Client -->
    <!--<add key="AadTenant" value="identitysamples.onmicrosoft.com" />
    <add key="AadClientId" value="908fa556-25cc-4552-886d-f3759d6b9fce" />
    <add key="AadClientSecret" value="0xt//xAgCW1YbtXjPSBcpmZXxIAvbCkg4vRN5Lj6Npc=" />-->

    <!-- Azure Search -->
    <add key="AzureSearchService" value="groupfinder" />
    <add key="AzureSearchIndex" value="groups" />
    <add key="AzureSearchAdminKey" value="20767E00F0F6B9E274B4C42AB8C9B443" />

    <!-- Azure Storage -->
    <add key="AzureStorageAccount" value="groupfinder" />
    <add key="AzureStorageKey" value="t8oIkWX7mcBrdlGsTMB52FNW1RMB312OEfn/WAXlO7QHmmXEnGA6jAu1YyMngqsd+KsX/tN+5Zh6EUCVQyPaTA==" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="default" type="System.Diagnostics.TextWriterTraceListener" initializeData="GroupFinder.ConsoleClient.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>